@using MBA.Marketplace.MVC.ViewModels;
@model CategoriaFormViewModel
@{
    ViewData["Title"] = "Editar Categoria";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="editar" method="post" class="needs-validation" novalidate>
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Nome" class="form-label">Nome</label>
                <input asp-for="Nome" class="form-control form-control-sm" placeholder="Ex: Eletrônicos" />
                <span asp-validation-for="Nome" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Descricao" class="form-label">Descrição</label>
                <textarea asp-for="Descricao" class="form-control form-control-sm" rows="3" placeholder="Descrição da categoria"></textarea>
                <span asp-validation-for="Descricao" class="text-danger small"></span>
            </div>
        </div>

        <div class="card-footer bg-light text-end">
            <button type="submit" class="btn btn-outline-aplication btn-sm">
                <i class="bi bi-save me-1"></i> Salvar
            </button>
            <a href="@Url.Action("index", "categoria")" class="btn btn-outline-danger btn-sm">
                Cancelar
            </a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @if (ViewBag.RegistroSucesso == true)
    {
        <script>
            var meuModal = new bootstrap.Modal(document.getElementById('modalSucessoEditarCategoria'));
            meuModal.show();
        </script>
    }

    @if (ViewBag.RegistroErro == true)
    {
        <script>
            var meuModal = new bootstrap.Modal(document.getElementById('modalErroEditarCategoria'));
            meuModal.show();
        </script>
    }

    @if (ViewBag.RegistroNaoEncontrado == true)
    {
        <script>
            var meuModal = new bootstrap.Modal(document.getElementById('modalCategoriaNaoEncontrado'));
            meuModal.show();
        </script>
    }
}