<header class="main-header">
  <div class="header-top">
    <div class="container">
      <div class="header-content">
        
        <!-- Logo e Pesquisa -->
        <div class="header-left">
          <app-pesquisa></app-pesquisa>
        </div>

        <!-- Ações do Usuário -->
        <div class="header-right">
          <app-favoritos></app-favoritos>
          <app-autenticacao></app-autenticacao>
        </div>

      </div>
    </div>
  </div>

  <!-- Menu de Navegação -->
  <app-menu></app-menu>
</header>