<div class="row">
      <!-- logotipo -->
      <a href="/" class="col-1 fs-3 d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <strong>
          <i class="bi bi-shop" style="color:black;font-size: 30px;"></i>
        </strong>
      </a>
<form class="col-11" role="search">
  <div class="input-group mb-3" style="margin:0 !important">
   <input type="text" class="form-control" placeholder="Pesquisar..." (keyup.enter)="pesquisar()" [(ngModel)]="termo"
  [ngModelOptions]="{standalone: true}">
<button class="btn btn-outline-secondary" type="button" (click)="pesquisar()">
  <i class="bi bi-search"></i>
</button>
  </div>
</form>
</div>