<div class="px-3 py-2 text-bg-primary border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <!-- logotipo -->
      <a href="/" class="fs-3 d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <strong>
          <i class="bi bi-shop"></i>
          Loja Virtual MBA DevExpert
        </strong>
      </a>


      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="#" class="nav-link text-white">
            Celulares
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Móveis
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Eletrodomésticos
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Informática
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Esportes
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>