<div class="container">
	<h1>Detalhes do produto</h1>
	<hr />

	<div role="main" class="main shop pt-4">

		<div class="">
			<div>
				<a asp-action="Index">Voltar</a>
			</div>
			<div class="row">
				<div class="col">
					<ul class="breadcrumb breadcrumb-style-2 d-block text-4 mb-4">
						<li><a href="#" class="text-color-default text-color-hover-primary text-decoration-none">Home</a></li>
						<li><a href="#" class="text-color-default text-color-hover-primary text-decoration-none">Produtos</a></li>
						<li><a href="#" class="text-color-default text-color-hover-primary text-decoration-none">{{ produto.categoria }}</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 mb-5 mb-md-0">
					<img src="https://png.pngtree.com/template/20220419/ourmid/pngtree-photo-coming-soon-abstract-admin-banner-image_1262901.jpg"
						 class="img-fluid" alt="{{ produto.nome }}"
						 style=" object-fit: cover;" />
				</div>

				<div class="col-md-7">

					<div class="summary entry-summary position-relative">

						<h1 class="mb-0 font-weight-bold text-7">{{ produto.nome }}</h1>

						<div class="pb-0 clearfix d-flex align-items-center">
							<div title="Rated 3 out of 5" class="float-start">
								<input type="text" class="d-none" value="3" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
							</div>

							<div class="review-num">
								<a href="#description" class="text-decoration-none text-color-default text-color-hover-primary" data-hash data-hash-offset="0" data-hash-offset-lg="75" data-hash-trigger-click=".nav-link-reviews" data-hash-trigger-click-delay="1000">
									<span class="count text-color-inherit" itemprop="ratingCount">(2</span> avaliacoes)
								</a>
							</div>
						</div>

						<div class="divider divider-small">
							<hr class="bg-color-grey-scale-4">
						</div>

						<p class="price mb-3">
							<span class="sale text-color-dark">{{ produto.preco | currency:'BRL' }}</span>
						</p>

						<p class="text-3-5 mb-3">{{ produto.descricao }}</p>

						<ul class="list list-unstyled text-2">
							<!-- <li class="mb-0">ESTOQUE: <strong class="text-color-dark">{{ produto.estoque }}</strong></li> -->
							<li class="mb-0">SKU: <strong class="text-color-dark">{{ produto.id }}</strong></li>
						</ul>


						<form enctype="multipart/form-data" method="post" class="cart" action="#">
							<hr>
							<div class="quantity quantity-lg">
								<input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
								<input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
								<input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
							</div>
							<button type="submit" class="btn btn-dark btn-modern text-uppercase bg-color-hover-primary border-color-hover-primary">Adicionar ao carrinho</button>
							<hr>
						</form>

						<div class="d-flex align-items-center">
							<ul class="social-icons social-icons-medium social-icons-clean-with-border social-icons-clean-with-border-border-grey social-icons-clean-with-border-icon-dark me-3 mb-0">
								<!-- Facebook -->
								<li class="social-icons-facebook">
									<a href="http://www.facebook.com/" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Facebook">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<!-- Twitter -->
								<li class="social-icons-twitter">
									<a href="https://twitter.com;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Twitter">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<!-- Email -->
								<li class="social-icons-email">
									<a href="#" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share By Email">
										<i class="far fa-envelope"></i>
									</a>
								</li>
							</ul>
							<a href="#" class="d-flex align-items-center text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2">
								<i class="far fa-heart me-1"></i> SALVAR LISTA DESEJOS
							</a>
						</div>

					</div>

				</div>
			</div>

			<div class="row mb-4">
				<div class="col">
					<div id="description" class="tabs tabs-simple tabs-simple-full-width-line tabs-product tabs-dark mb-2">
						<ul class="nav nav-tabs justify-content-start">
							<li class="nav-item"><a class="nav-link active font-weight-bold text-3 text-uppercase py-2 px-3" href="#productDescription" data-bs-toggle="tab">Descrição</a></li>
							<li class="nav-item"><a class="nav-link font-weight-bold text-3 text-uppercase py-2 px-3" href="#productInfo" data-bs-toggle="tab">Descrição adicional</a></li>
							<li class="nav-item"><a class="nav-link nav-link-reviews font-weight-bold text-3 text-uppercase py-2 px-3" href="#productReviews" data-bs-toggle="tab">Avaliacoes (2)</a></li>
						</ul>
						<div class="tab-content p-0">
							<div class="tab-pane px-0 py-3 active" id="productDescription">
								<p>{{ produto.descricao }}</p>
							</div>
							<div class="tab-pane px-0 py-3" id="productInfo">
								<p>Nao cadastrado ate o momento!</p>
							</div>
							<div class="tab-pane px-0 py-3" id="productReviews">
								<ul class="comments">
									<li>
										<div class="comment">
											<div class="img-thumbnail border-0 p-0 d-none d-md-block">
												<img class="avatar rounded-circle" alt="" src="~/images/noProduct.png">
											</div>
											<div class="comment-block">
												<div class="comment-arrow"></div>
												<span class="comment-by">
													<strong>Joao</strong>
													<span class="float-end">
														<div class="pb-0 clearfix">
															<div title="Rated 3 out of 5" class="float-start">
																<input type="text" class="d-none" value="3" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
															</div>

															<div class="review-num">
																<span class="count" itemprop="ratingCount">2</span> avaliacoes
															</div>
														</div>
													</span>
												</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
											</div>
										</div>
									</li>
									<li>
										<div class="comment">
											<div class="img-thumbnail border-0 p-0 d-none d-md-block">
												<img class="avatar rounded-circle" alt="" src="~/images/noProduct.png">
											</div>
											<div class="comment-block">
												<div class="comment-arrow"></div>
												<span class="comment-by">
													<strong>Joana</strong>
													<span class="float-end">
														<div class="pb-0 clearfix">
															<div title="Rated 3 out of 5" class="float-start">
																<input type="text" class="d-none" value="3" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
															</div>

															<div class="review-num">
																<span class="count" itemprop="ratingCount">2</span> avaliacoes
															</div>
														</div>
													</span>
												</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra odio, gravida urna varius vitae, gravida pellentesque urna varius vitae.</p>
											</div>
										</div>
									</li>
								</ul>
								<hr class="solid my-5">
								<h4>Add a review</h4>
								<div class="row">
									<div class="col">

										<form action="#" id="submitReview" method="post">
											<div class="row">
												<div class="form-group col pb-2">
													<label class="form-label required font-weight-bold text-dark">Rating</label>
													<input type="text" class="rating-loading" value="0" title="" data-plugin-star-rating data-plugin-options="{'color': 'primary', 'size':'sm'}">
												</div>
											</div>
											<div class="row">
												<div class="form-group col-lg-6">
													<label class="form-label required font-weight-bold text-dark">Name</label>
													<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" required>
												</div>
												<div class="form-group col-lg-6">
													<label class="form-label required font-weight-bold text-dark">Email Address</label>
													<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" required>
												</div>
											</div>
											<div class="row">
												<div class="form-group col">
													<label class="form-label required font-weight-bold text-dark">Review</label>
													<textarea maxlength="5000" data-msg-required="Please enter your review." rows="8" class="form-control" name="review" id="review" required></textarea>
												</div>
											</div>
											<div class="row">
												<div class="form-group col mb-0">
													<input type="submit" value="Post Review" class="btn btn-primary btn-modern" data-loading-text="Loading...">
												</div>
											</div>
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<h4 class="font-weight-semibold text-4 mb-3">PRODUTOS RELACIONADOS</h4>
					<hr class="mt-0">
					<div class="products row">
						<div class="col">
							<div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">

								<div class="product mb-0">
									<div class="product-thumb-info border-0 mb-3">

										<div class="product-thumb-info-badges-wrapper">
											<span class="badge badge-ecommerce badge-success">NOVO</span>

										</div>

										<div class="addtocart-btn-wrapper">
											<a href="#" class="text-decoration-none addtocart-btn" title="Add to Cart">
												<i class="icons icon-bag"></i>
											</a>
										</div>

										<a href="#" class="quick-view text-uppercase font-weight-semibold text-2">
											VISUALIZAR
										</a>
										<a href="#">
											<div class="product-thumb-info-image">
												<img alt="" class="img-fluid" src="~/images/noProduct.png">

											</div>
										</a>
									</div>
									<div class="d-flex justify-content-between">
										<div>
											<a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">Eletronicos</a>
											<h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="#" class="text-color-dark text-color-hover-primary">Camera</a></h3>
										</div>
										<a href="#" class="text-decoration-none text-color-default text-color-hover-dark text-4"><i class="far fa-heart"></i></a>
									</div>
									<div title="Rated 5 out of 5">
										<input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
									</div>
									<p class="price text-5 mb-3">
										<span class="amount">R$ 10,00</span>
									</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<hr class="my-5">
		</div>

	</div>

</div>