<header>



  <div class="px-3 py-2 border-bottom mb-2 bg-light">
    <div class="row col-8" style="margin: 0 auto;">

      <!-- pesquisa -->
      <div class="col-7">
        <app-pesquisa></app-pesquisa>
      </div>

      <!-- favoritos -->
      <div class="col-2">
        <app-favoritos></app-favoritos>
      </div>

      <!-- autenticaco -->
      <div class="col-3">
        <app-autenticacao></app-autenticacao>
      </div>

    </div>
  </div>
    <!-- menu -->
  <app-menu></app-menu>
</header>