<nav class="mt-3">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="!habilitarPrimeraPagina">
      <button class="page-link" (click)="navegarParaPagina(1)">Primeira</button>
    </li>

    <li class="page-item" [class.disabled]="!paginaAnterior">
      <button class="page-link" (click)="navegarParaPagina(paginaAnterior)">Anterior</button>
    </li>

    <li class="page-item">
      <button class="page-link disabled">{{paginacao?.paginaAtual}}</button>
    </li>

    <li class="page-item" [class.disabled]="!proximaPagina">
      <button class="page-link" (click)="navegarParaPagina(proximaPagina)">Próxima</button>
    </li>

    <li class="page-item" [class.disabled]="!habilitarUltimaPagina">
      <button class="page-link" (click)="navegarParaPagina(paginacao!.numeroDePaginas)">Última</button>
    </li>
  </ul>
</nav>